.body{
	width: 960px;
	margin: auto;
	clear: both;
	overflow: hidden;
}
.cabecalho{
	background-color: #025FE5;
}
header ul{
	padding-left: 0px;
}
header ul li{
	list-style: none;
	display: inline-block;
	padding-right: 10px;
}
header ul li a{
	text-decoration: none;
}
.conteudo{
	float: left;
	width: 700px;
	background-color: #D5D1D3;
}
.barra_lateral{
	float: right;
	width: 260px;
	background-color: #E2342D;
}
footer{
	clear: both;
	background-color: #FFAC00;
}